/* todo esta en orden deacuerdo al codigo en Contactar.js */
/* desde la linea 124 podes encontrar los cambios por (min-width: 280px) and (max-width: 1024px) */

.Contactar {
  position: relative;
  width: 97.8%;
  height: 100vh;
  background: url("../gallery/visa1.png");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Contactar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(28, 120, 219, 0.8);
}

.contenedor-img {
  position: relative;
  width: 49%;
  height: 60vh;
  left: 0%;
  background: white;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(-2deg);
}

.contenedor-img:before {
  content: "";
  position: absolute;
  width: 46vw;
  height: 46vh;
  left: 4%;
  background: url("../gallery/rece.png");
  background-size: cover;
  box-shadow: -8px 8px 10px 3px rgb(0, 0, 0, 0.3);
  transform: skewY(-2deg);
  animation: img 32s infinite;
}

@keyframes img {
  0% {
    background: url("../gallery/rece.png");
    background-size: cover;
  }
  47% {
    background: url("../gallery/rece.png");
    background-size: cover;
  }
  49% {
    background: url("../gallery/visa1.png");
    background-size: cover;
  }
  100% {
    background: url("../gallery/visa1.png");
    background-size: cover;
  }
}

form {
  position: relative;
  width: 51%;
  height: 79.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-right: 0.7vh solid gold;
}

form .titulo-contactarme {
  position: relative;
  width: 100%;
  margin: 0vw 0vw 0vw 0vw;
  font-size: 1.7vw;
  color: white;
  font-family: Segoe UI Symbol;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 60%;
  font-size: 1.3vw;
  color: white;
  font-family: Segoe UI Symbol;
}

input,
textarea {
  background: white;
  width: 60%;
  height: 6%;
  cursor: pointer;
  font-size: 1.1vw;
  font-family: Segoe UI Symbol;
  color: rgb(45, 45, 45, 1);
  border: 0.45vh solid rgb(29, 146, 226, 0.8);
  box-shadow: 5px 7px 10px 4px rgb(0, 0, 0, 0.2);
  outline: none;
}

textarea {
  height: 27%;
}

button {
  width: 60%;
  height: 7%;
  color: white;
  font-family: Segoe UI Symbol;
}

@media only screen and (min-width: 280px) and (max-width: 1024px) {
  .contenedor-img {
    display: none;
  }

  form .titulo-contactarme {
    position: relative;
    width: 100%;
    margin: 0vw 0vw 0vw 0vw;
    font-size: 2.7vh;
    font-family: Segoe UI Symbol;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  form {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
  }

  label {
    width: 70%;
    color: white;
    font-size: 2.3vh;
    font-family: Segoe UI Symbol;
  }

  input,
  textarea {
    background: white;
    width: 70%;
    height: 6%;
    font-size: 2vh;
  }

  textarea {
    height: 30%;
  }

  button {
    width: 70%;
    height: 6%;
    color: white;
    font-family: Segoe UI Symbol;
  }
}
