/* todo esta en orden deacuerdo al codigo en PerfilMovil.js */
/* desde la linea 39 podes encontrar los cambios por (max-width: 480px) */
/*Este componente solo es visto desde movil */

.contenedor-perfil {
  width: 97.8%;
  height: 45vh;
  background: rgb(45, 45, 45);
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px 2px rgb(0, 0, 0, 0.3);
}

.img-web-developer {
  position: relative;
  width: 37vw;
  height: 37vw;
  background: rgb(38, 38, 38);
  border: 0.5vw solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 15px 10px 2px rgb(0, 0, 0, 0.3);
  border-radius: 50%;
}

.img-web-developer:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background: url("../gallery/edgar2.png");
  background-size: cover;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .contenedor-perfil {
    display: flex;
  }

  .contenedor-perfil p {
    width: 100%;
    margin: 0vw 0vw 0vw 0vw;
    color: white;
    display: flex;
    justify-content: center;
  }

  .conte-instagram-linkedin {
    width: 65%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conte-instagram-nose i {
    font-size: 5vh;
    color: white;
    box-shadow: 0px 0px 0px 2px rgb(45, 45, 45) inset;
    border: 0.3vh solid white;
    border-radius: 50%;
    background: linear-gradient(120deg, crimson, purple);
    padding: 2.5vw;
    margin: 0vw 2.2vw 0vw 2.2vw;
    box-shadow: 7px 10px 7px 2px rgb(0, 0, 0, 0.3);
    animation: redes 8s infinite;
  }

  @keyframes redes {
    0% {
      transform: rotateY(-0deg);
    }
    70% {
      transform: rotateY(-0deg);
    }
    80% {
      transform: rotateY(-150deg);
    }
    90% {
      transform: rotateY(150deg);
    }
    100% {
      transform: rotateY(-0deg);
    }
  }

  .conte-instagram-nose .fa-linkedin {
    background: linear-gradient(
      120deg,
      rgb(45, 66, 130, 0.9),
      rgb(11, 167, 167)
    );
  }
}
